#define SECRET_SSID ""
#define SECRET_PASS ""
#define SECRET_HOSTNAME "LED-Device"

// Statische IP-Konfiguration
#define STATIC_IP      IPAddress(192, 168, 178, 213)
#define GATEWAY        IPAddress(192, 168, 178, 1)
#define SUBNET         IPAddress(255, 255, 255, 0)
#define DNS_PRIMARY    IPAddress(192, 168, 178, 1)